@import url('https://fonts.googleapis.com/css2?family=Abel&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Grid+Single:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CZ:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
font-family: abel;
background-image: linear-gradient(45deg,white,rgb(48, 15, 3));
background-repeat: no-repeat;
background-position: center;
overflow-x: hidden;

}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    align-items: center;
    background-color:#f1c1a7;
    z-index: 100;
    >.navbar{
        margin-left: 150px;
        >ul{
            display: flex;
            list-style: none;
            gap: 80px;
            font-size: 25px;
            >li{
                transition: all .7s;
                &:hover{
                    color: white;
                    scale: 1.1;
                }
            }
        }
    }
    >.logo{
        width: 150px;
        height: 150px;
        margin-top: 70px;
        border-radius: 50%;
        background-color: #f1c1a7;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 300;
        >img{
            width: 100%;
            height: 100%;
            animation: slide 10s infinite linear;
        }
    }
    >.contact{
        margin-right: 150px;
        >ul{
            display: flex;
            list-style: none;
            gap: 80px;
            font-size: 25px;
            >li{
                transition: all .7s;
                &:hover{
                    color: white;
                    scale: 1.1;
                }
            }
        }
    }
}
li.submenu{
    position: relative;
    z-index: 200;
    &:hover{
        >div{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            
            
        }
    }
    
    >div{
        position: absolute;
        width: 1425px;
        height: 450px;
        background-image:linear-gradient(to bottom, #f3cab4,#39140c);
        left: -300px;
        padding-left: 100px;
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
        transform: translatey(-5%);
        
        color: black;
        /* overflow-x: hidden; */
        
        >h2{
            margin: 70px 0 10px;
        }
        .total{
            display: flex;
            gap: 100px;
            >div:first-child{
            display: flex;
            gap: 50px;
            width: 30%;
            height: 300px;
            font-size: 20px;
            >ul{
                >li{
                    
                    padding: 6px;
                    transition: all 1s;
                    position: relative;
                    overflow: hidden;
                    font-weight: 600;
                    &::before{
                        content: "";
                        width: 100%;
                        height: 2px;
                        background-color: rgb(112, 63, 26);
                        position: absolute;
                        bottom: 0;
                        left: -100%;
                        transition: all .8s;
                    }

                    &:hover{
                    color: rgb(98, 46, 16);

                    &::before{
                        left: 0;

                    }
        }
                }
            }
        }
        .pic1{
            display: flex;
            gap: 15px;
            font-size: 23px;
            /* margin-right: 150px; */
            
            >figure{
                
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                >figurecaption{
                    transition: .3s linear;
                    cursor: pointer;
                    &:hover{
                        color: rgb(98, 46, 16);
                        font-size: 25px;
                        border-bottom: 1px solid rgb(98, 46, 16);
                    }
                }
                &:nth-of-type(1){
                 width: 400px;
                 height: 200px;
            }
                &:nth-of-type(2){
                 width: 170px;
                 height: 200px;
            }
            &:nth-of-type(3){
                 width: 170px;
                 height: 200px;
            }


            }
            
        }
    
        }
    }    
}

.section1{
    width: 100%;
    height:600px ;
    /* background-image: linear-gradient(45deg,white,rgb(48, 15, 3)); */
    display: flex;
    gap: 200px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
    >div:first-child{
        width: 50%;
        height: 100%;
        >h1{
            font-size: 50px;
            margin-top: 160px;
            margin-left: 100px;
            color: rgb(58, 20, 2);
            width: 600px;
        }
        >p{
            font-size: 25px;
            margin-left: 100px;
            margin-top: 50px;
            width: 500px;
            text-align: justify;
        }
        >div{
            display: flex;
            gap: 30px;
            margin-top: 60px;
            margin-left: 100px;
            >button{
                width: 140px;
                height: 50px;
                font-size: 20px;
                border: none;
                border-radius: 10px;
            &:nth-of-type(1){
                background-color:rgb(58, 20, 2);
                color: #f1c1a7;
                transition: 1s;
                &:hover{
                    box-shadow: inset 180px 0 #f1c1a7;
                    color: #39140c;
                }
            }
            &:nth-of-type(2){
                background-color:#f1c1a7;
                color:rgb(58, 20, 2) ;
                border: 2px solid rgb(58, 20, 2) ;
                transition: 1s;
                &:hover{
                    box-shadow: inset 180px 0 #39140c;
                    color:#f1c1a7;
                    border: 2px solid #f1c1a7;
                }
            }
            }
            
        }
    }
    >div:nth-of-type(2){
        width: 50%;
        height:100%;
        animation: img1 both;
            animation-timeline: scroll();
            z-index: 2;
        
        >img{
            width: 70%;
            height: 70%;
            object-fit: cover;
            margin-top: 120px;
            margin-left: 120px;
            position: relative;

            
            
            
            
        }
    }
    
    

    
}
.section2{
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    

    
    >img:first-child{
        animation: slide 10s infinite linear;
        width: 250px;
        margin-right: 20px;
    }
    >h2{
        color: #39140c;
        font-size: 40px;
        width: 300px;
    }
    >div{
        width: 4px;
        height: 200px;
        background-color: #39140c;
    }
    >p{
        font-size: 25px;
        font-weight: 600;
        color: #39140c;
        text-align: justify;
        width: 500px;
        margin-left: 30px;
        line-height: 40px;
    }
    >img:last-child{
        height: 300px;
        width: 280px;
        object-fit: cover;
        
    }
}
.title{
    margin-bottom: 60px;
    >h2{
        text-align: center;
        margin: 0 auto;
        font-size: 120px;
        text-shadow: 1px 1px 20px rgb(16, 16, 15) ;
        transition: 1s;
        
    
        >img{
            width: 100px;
            height: 100px;
            
            
            &:first-child{
                width: 150px;
                height: 150px;
                margin-left: -40px;
                transform: translatey(30px);
                
            }
            &:last-child{
                width: 117px;
                height: 117px;
                transform: translatey(24px);
                margin-left: -20px;
            }
        }
        &:hover{
            color: black;
            text-shadow: none;
        }
    }
    h3{
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        transform: translatey(40px);
    }
    
}

.section3{
    width: 250px;
    height:300px ;
    
    margin:10px auto;
    position: relative;
    transform-style:preserve-3d;
    animation: h2 20s infinite linear;
    
    >figure{
        width:250px;
        height: 300px;
        position: absolute;
        transform-style: preserve-3d;
        top: 0%;
        left: 50%;
        /* transform-origin: center center -500px; */
        border-radius: 20px;
        /* overflow: hidden; */
        box-shadow:0 10px 30px rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        transform: translate(-50%,-50%);
        /* filter: grayscale(100%); */
        
        &:hover{
            filter: none;

        }
        >figcaption{
            position: absolute;
            top: 100%;
            font-size: 40px;
        }
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
        
    }
}
.croissant{
    text-align: center;
    font-size: 50px;
    background-image: linear-gradient(to bottom,white 10%,rgb(117, 82, 42) 25%);
    background-clip: text;
    color: transparent;
    margin-top: 130px;
    >img{
        width: 280px;
        /* border-radius: 20px ; */
        height: 150px;
        object-fit: cover;
    }
}

.section4{
    display: flex;
    justify-content: center;
    gap: 80px;
    position: relative;
    top: -70px;
    
    
    >div:first-child{
        display: flex;
        flex-direction: column;
        gap: 50px;
        transform: translateY(80px);
        
    >figure{
        width: 250px;
        height: 250px;
        position: relative;
        
        >div{
            width: 150px;
            height: 150px;
            background-color:rgb(188, 139, 65);
            position: absolute;
            left: 100px;
            top: 35%;
        }
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            transition: 1s;
            &:hover{
                scale: 1.2;
            }

        }
        >figcaption{
            font-size: 20px;position: absolute;
            bottom:-20px;
            left: 40%;
        }
        >p{
            font-size: 25px;
            font-weight: 600;
            position: absolute;
            bottom: -60px;
            left:40%;
        }
        &:nth-of-type(1){
                >img{
                    transform: translateX(-750px);
                    animation: pic6 both;
                    animation-timeline:view(70% 20%);
                    transition: 9s;
                }
            

        }
        &:nth-of-type(2){
            >div{
                background-color: palevioletred;
                top: 30px;
            }
            >figcaption{
                bottom:35px ;
                width: 200px;
                left: 94px;
            }
            >p{
                bottom:1px;
                left: 94px;
            }
            >img{
                top:-25px;
                left: 0px;
                    transform: translateX(-750px);
                    animation: pic6 both;
                    animation-timeline:view(70% 20%);
    

            }
            
        }
        &:nth-of-type(3){
            >div{
                background-color: rgb(170, 244, 170);
                top:-30px;
            }
            >figcaption{
                bottom:95px ;
                width: 200px;
                left: 100px;
            }
            >p{
                bottom: 60px;
            }
            >img{
            width: 190px;  
            height: 190px;  
            bottom: 120px;
            left: 30px;
                transform: translateX(-750px);
                    animation: pic6 both;
                    animation-timeline:view(70% 20%);
    
            }
        }
    }
    }
        >div:nth-child(2){
        display: flex;
        flex-direction: column;
        gap: 50px;
    >figure{
        width: 200px;
        height: 200px;
        position: relative;
        >div{
            width: 150px;
            height: 150px;
            background-color:rgb(46, 28, 2);
            position: absolute;
            left:-80px;
            top: 45%;
        }
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: -60px;
            bottom: -30px;
            transition: 1s;
            &:hover{
                scale: 1.2;
            }
        }
        >figcaption{
            font-size: 20px;
            position: absolute;
            bottom:-70px;
            left: -75px;
        }
        >p{
            font-size: 25px;
            font-weight: 600;
            position: absolute;
            bottom: -110px;
            left: -75px;
        }
        &:nth-of-type(1){
            >img{
                transform: translateX(750px);
                animation:pic7 both;
                animation-timeline:view(70% 20%) ;
            }
        }
        &:nth-of-type(2){
            >div{
                background-color: rgb(9, 158, 66);
                top: 67px;
                position: absolute;
            }
            >figcaption{
                bottom:-45px ;
                width: 200px;
                left: -75px;
            }
            >p{
                bottom: -85px;
            }
            >img{
                width:250px;
                height: 250px;
                left: -70px;
                transform: translateX(750px);
                animation:pic7 both;
                animation-timeline:view(70% 20%) ;
            }
            
        }
        &:nth-of-type(3){
            >div{
                background-color: rgb(203, 197, 197);
                top: 60px;
            }
            >figcaption{
                bottom:-39px;
                width: 200px;
                left: -75px;
            }
            >p{
                bottom: -70px;
            }
            >img{
            width: 220px;  
            height: 220px;  
            bottom: -40px;
            left: -60px;
            transform: translateX(750px);
                animation:pic7 both;
                animation-timeline:view(100% 20%) ;
            }
        }
    }
    }

}